<% provide(:title, "Graj") %>
<table style="height: 300px;" border="1" width="300" cellpadding="40">
<tbody>
<tr>
<td data-x="0" data-y="0">&nbsp;</td>
<td data-x="1" data-y="0">&nbsp;</td>
<td data-x="2" data-y="0">&nbsp;</td>
</tr>
<tr>
<td data-x="0" data-y="1">&nbsp;</td>
<td data-x="1" data-y="1">&nbsp;</td>
<td data-x="2" data-y="1">&nbsp;</td>
</tr>
<tr>
<td data-x="0" data-y="2">&nbsp;</td>
<td data-x="1" data-y="2">&nbsp;</td>
<td data-x="2" data-y="2">&nbsp;</td>
</tr>
</tbody>
</table>
<div id="games">&nbsp;</div>
<div id="message">&nbsp;</div>
<p><button id="save">Save Game</button> <button id="previous">Show Previous Games</button></p>
