<% provide(:title, "Graj") %>
  <table id="myTable" style="width: 300px; table-layout: fixed; height: 300px;"border="3">
    <tbody>
      <tr>
        <td data-x="0" data-y="0"></td>
        <td data-x="1" data-y="0"></td>
        <td data-x="2" data-y="0"></td>
      </tr>
      <tr>
        <td data-x="0" data-y="1"></td>
        <td data-x="1" data-y="1"></td>
        <td data-x="2" data-y="1"></td>
      </tr>
      <tr>
        <td data-x="0" data-y="2"></td>
        <td data-x="1" data-y="2"></td>
        <td data-x="2" data-y="2"></td>
      </tr>
    </tbody>
  </table>
  <div id="games">&nbsp;</div>
  <div id="message">&nbsp;</div>
  <p><button id="save">Zapisz</button> <button id="previous">Poprzednie gry</button></p>
