<div class="center jumbotron">
  <h1>Aplikacja kółko i krzyżyk</h1>

  <h2>
    Aby korzystać z głównego przeznaczenia strony, należy się zarejestrować:
  </h2>

  <%= link_to "Zarejestruj się!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


