<footer class="footer">
  <small>
    NTPProjekt, aplikacja kółko krzyżyk
  </small>
  <nav>
    <ul>
      <li><%= link_to "Informacje",   about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
    </ul>
  </nav>
</footer>

